{% extends "book/base.html" %}
{% block tab_title %}
    - {{ book.title }}
{% endblock tab_title %}
{% block title %}
    Details for: {{ book.title }} by {{ book.author }}
{% endblock title %}
{% load static %}
{% block body_content %}
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="height: 100vh">
        {% if book.is_available %}
        {% else %}
            <div class="alert alert-danger" role="alert">This book is currently unavailable.</div>
        {% endif %}
        <div class="book text-center">
            <img class="mb-3"
                 src="{{ book.front_cover.url }}"
                 style="width: 300px;
                        height: 400px;
                        object-fit: cover"
                 alt="front cover">
            <h1 class="mb-3">{{ book.title }}</h1>
            <p class="mb-1">
                <strong>Author:</strong> {{ book.author }}
            </p>
            <p class="mb-1">
                <strong>Publisher:</strong> {{ book.publisher }}
            </p>
            <p class="mb-1">
                <strong>Genre:</strong> {{ book.genre }}
            </p>
        </div>
        {% if user.is_librarian %}
            {% if book.is_available %}
                <form method="get" action="{% url 'book:rent_book' %}">
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <button type="submit" class="btn btn-primary">Rent-out</button>
                </form>
            {% else %}
                <button type="submit" class="btn btn-primary" disabled>Rent-out</button>
            {% endif %}
        {% endif %}
    </div>
{% endblock body_content %}
