{% extends 'book/base.html' %}

{% block tab_title %}
- {{book.title}}
{% endblock %}

{% block title %}
Details for: {{book.title}} by {{book.author}}
{% endblock title %}

{% load static %}


{% block body_content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
	<div class="book text-center">
		<img class="mb-3" src="{{ book.front_cover.url }}" style="width: 300px; height: 400px; object-fit: cover;">
		<h1 class="mb-3">{{ book.title }}</h1>
		<p class="mb-1"><strong>Author:</strong> {{ book.author }}</p>
		<p class="mb-1"><strong>Publisher:</strong> {{ book.publisher }}</p>
		<p class="mb-1"><strong>Genre:</strong> {{ book.genre }}</p>
	</div>
</div>
{% endblock %}
