{% extends "book/base.html" %}
{% load static %}
{% block title %}
    Bookman
{% endblock title %}
{% block body_content %}
    <div class="container" style="width: fit-content;">
        <form action=""
              method="get"
              class="d-flex"
              role="search"
              style="margin-left: 5px">
            {% csrf_token %}
            {{ form.search_txt }}
            <input type="submit"
                   value="Search"
                   class="btn btn-outline-success"
                   style="margin-left: 10px">
        </form>
    </div>
    <div class="row" style="margin: 15px;">
        {% for book in results %}
            <div data-mdb-ripple-init
                 data-mdb-ripple-color="light"
                 class="col-sm-4"
                 style="width: fit-content;
                        height: fit-content">
                <div class="card mb-4 shadow-4-strong" style="width: 300px; height: 450px">
                    <a href="{% url 'book:details' %}?id={{ book.id }}">
                        <img class="card-img-top img-fluid"
                             src="{{ book.front_cover.url }}"
                             style="object-fit: cover;
                                    height: 70%"
                             alt="front cover">
                        <div class="card-body">
                            <p class="card-text">{{ book.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body_content %}
