{% extends "book/base.html" %}
{% block body_content %}
    <h1>Rent out book</h1>
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{ book.id }}">
        <div class="mb-3">
            <label for="userSelect" class="form-label">Select user</label>
            <select class="form-select" id="userSelect" name="user_id" required>
                {% for user in users %}<option value="{{ user.id }}">{{ user.username }}</option>{% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Ok</button>
    </form>
{% endblock body_content %}
