<!DOCTYPE html>

{% load static %}

<html>

<head>
	<title>Book Manager</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	{% block user_extra_headers %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>

<body>

	<header>
		{% block header %}{% endblock %}
	</header>

	<div class="page">
		<div class="foreground">
			{% block foreground %}{% endblock %}
		</div>
	</div>

</body>

</html>
