body {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: #eee;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 2vh 0;

	width: 50%;
	min-height: 50%;
	border-radius: 10px;
	box-shadow: 0 0 8px #9b9b9b;
	background: #fff;
}

