.foreground__heading > h1 {
	text-align: center;
	margin: 1vh 0;
}

.foreground__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;


}

.foreground__content > div {
	width: 100%;
}

.search_bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1vh 0;
}

.person {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

.person > p {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 8px #9b9b9b;
	width: 80%;
	text-align: center;
}

